{% extends 'base.html.twig' %}

{% block title %}
    Hello UserController!
{% endblock %}

{% block body %}
    <section class="profile">

        <h1>
            Mon compte
        </h1>

        {% dump(orders) %}

        <section class="orders-container">
            <table class="orders">
                <h2>
                    Mes commandes
                </h2>
                <thead>
                    <tr>
                        <td>
                            N°
                        </td>
                        <td class="date">
                            Date
                        </td>
                        <td class="price">
                            Prix
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                {{ order.orderNumber }}
                            </td>
                            <td class="date">
                                {{ order.createdAt|date('d/m/Y') }}
                            </td>
                            <td class="price">
                                {{ order.total|number_format(2, ',', ' ') }}
                                €
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <div class="api-access">

            <h2>
                Mon accès API
            </h2>

            {% if api === false %}
                <a class="api-btn" href="{{ path('app_user_profile_api_activate') }}">
                    Activer mon accès API
                </a>
            {% endif %}

            {% if api === true %}
                <a class="api-btn" href="{{ path('app_user_profile_api_deactivate') }}">
                    Désactiver mon accès API
                </a>
            {% endif %}

        </div>

        <div class="delete-account">

            <a class="api-btn" href="{{ path('app_user_profile_delete') }}">
                Supprimer mon compte
            </a>
        </div>

    </section>
{% endblock %}
